<a href="https://colab.research.google.com/github/ajaymathew522/Internship_questions/blob/master/Lannet_Technologies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

<h2>1) Write a function in python that inputs a dataframe and identify which columns have date in them. Using these date columns make new columns which are difference between these columns taking 2 at a time. (for instance if there is date1, date2, date3 columns, output should be like date1-date2, date2-date3, date1-date3). For this problem only, print out data in the colab.

In [ ]:
def datefunc(df):
  indexes = [] #list to store indices of converted columns
  for col in df.columns:
      if df[col].dtype == 'object':
          try:     #using try catch to convert columns to datetime if possible
              df[col] = pd.to_datetime(df[col], infer_datetime_format=True, errors='coerce') 
              indexes.append(col) #appending index of converted column
          except ValueError:
              pass
  for i in range(len(indexes)-1):
    for j in range(i+1,len(indexes)):
      df['{}-{}'.format(i,j)] = (df[indexes[i]] - df[indexes[j]]).dt.days #finding differrence between dates
  return df

<h2>Write a function in python that take dataframe as input and drop columns having Pearson correlation more than 0.85

In [ ]:
def correlation(dataset):
    col_corr = set() # Set of all the names of deleted columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if (corr_matrix.iloc[i, j] >= 0.85) and (corr_matrix.columns[j] not in col_corr):
                colname = corr_matrix.columns[i] # getting the name of column
                col_corr.add(colname)
                if colname in dataset.columns:
                    del dataset[colname] # deleting the column from the dataset

    print(dataset)

In [ ]:
df=pd.DataFrame({"A":["2019-01-01", "2019-05-03", "2019-07-03"],
                 "B":["2019-03-02", "2019-08-01", "2019-10-01"] })

In [ ]:
result = datefunc(df)

In [ ]:
result

           A          B  0-1
0 2019-01-01 2019-03-02  -60
1 2019-05-03 2019-08-01  -90
2 2019-07-03 2019-10-01  -90